<div>
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img class="bmwLogo" src="\assets\BMW-logo.png" alt="bmw logo">
        <img class="masterLogo" src="\assets\WEBfondotransparente.png" alt="master logo">
        <img class="prorideLogo" src="\assets\prorideLogo2.png" alt="proride logo">
      </div>
      <div class="footer-text">
        <p>&copy; 2024 Proride SRL. Todos los derechos reservados.</p>
        <p>
          Tienda deportiva en <strong>Cochabamba</strong>.
        </p>
      </div>
      <div class="footer-links">
        <a href="https://www.facebook.com/ProRideCochabamba/?locale=es_LA" target="_blank">Facebook</a> |
        <a href="https://www.instagram.com/proridebolivia/" target="_blank">Instagram</a> |
        <a href="https://www.facebook.com/ProRideCochabamba/?locale=es_LA">Contáctanos</a>
      </div>
    </div>
  </footer>
</div>
