.bmwLogo, .masterLogo,.prorideLogo {
  max-width: 200px; /* Ajusta el tamaño máximo de las imágenes */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 0 100px; /* Espacio entre las imágenes */
}

.footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #a88932;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;  /* Asegura que haya espacio entre los elementos */
  align-items: center;  /* Centra los elementos verticalmente */
  flex-wrap: wrap;  /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.footer-logo img {
  max-width: 170px;  /* Ajusta el tamaño máximo de las imágenes */
  height: auto;
  margin: 0 15px;  /* Espacio horizontal entre los logos */
}

.footer-text {
  margin-bottom: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 764px) {


  .footer
  {
    display: none;
  }





}
