<h1>BMW Cocha Running 5k-10k</h1>

<div class="image-window-container">
    <div class="img-container">
        <div class="image"></div>
        <div class="windows"></div>
        <div class="text-box text">Encuentra mayor información sobre la carrera 5k y 10k</div>
    </div>
</div>


<div class="card">
    <h3>Inicio</h3>
    <br>
    <p>
        <strong>Fecha:</strong>
        <br>
        Domingo, 17 de Noviembre, 2024
        <br>
        <strong>Ubicación:</strong>
        <br>
        El inicio es en la oficina central de Master Motors, ubicada en la Av. America y Eduardo Caba.
        <br>
        <strong>Hora de Inicio:</strong>
    </p>
</div>

<div class="card">
    <h3>Llegada</h3>
    <br>
    <p>
        El recorrido termina en la oficina de Master Motors, exactamente donde comenzo.

        Existe un tiempo limite de xx horas de retraso para los participantes, en caso de
        tener un retraso mayor al limite, los participantes seran recogidos, terminando
        su participación en el evento.
    </p>
</div>

<div class="card route-image">
    <h3>Ruta Carrera 5K</h3>
    <img src="\assets\5k.jpg">
</div>

<div class="card route-image">
    <h3>Ruta Carrera 10K</h3>
    <img src="\assets\10k.jpg">
</div>