<div class="titulo">
  <h2>Nuestros Sponsors</h2>
</div>
<div class="slider-container">
  <div class="arrow left" (click)="moveSlide(-1, 'imgSlider5')">&#10094;</div> <!-- Flecha izquierda -->
  <div class="slider" id="imgSlider5">
    <div class="slide">
      <img class="cristoFoto1" src="\assets\parrillas.jpg" alt="cristo">
    </div>
    <div class="slide">
      <img class="cristoFoto1" src="\assets\parrillas.jpg" alt="cristo">
    </div>
    <div class="slide">
      <img class="cristoFoto1" src="\assets\parrillas.jpg" alt="cristo">
    </div>
    <div class="slide">
      <img class="cristoFoto1" src="\assets\parrillas.jpg" alt="cristo">
    </div>
    <div class="slide">
      <img class="cristoFoto1" src="\assets\parrillas.jpg" alt="cristo">
    </div>
    <div class="slide">
      <img class="cristoFoto1" src="\assets\parrillas.jpg" alt="cristo">
    </div>

  </div>
  <div class="arrow right" (click)="moveSlide(1, 'imgSlider5')">&#10095;</div> <!-- Flecha derecha -->
</div>
