<div class="titulo">
  <h2>Nuestros Sponsors</h2>
</div>
<div class="slider-container">
  <div class="arrow left" (click)="moveSlide(-1, 'imgSlider5')">&#10094;</div> <!-- Flecha izquierda -->
  <div class="slider" id="imgSlider5">
    <div class="slide">
      <img class="cristoFoto1" src="\assets\OMIE.jpg" alt="cristo">
    </div>
    <div class="slide">
      <img class="cristoFoto1" src="\assets\OvoProtein.png" alt="cristo">
    </div>
    <div class="slide">
      <img class="cristoFoto1" src="\assets\Etreus.jpeg" alt="cristo">
    </div>
    <div class="slide">
      <img class="cristoFoto1" src="\assets\OvoCare.png" alt="cristo">
    </div>
    <div class="slide">
      <img class="cristoFoto1" src="\assets\Virmegraf.jpeg" alt="cristo">
    </div>
    <div class="slide">
      <img class="cristoFoto1" src="\assets\NUTRITON.png" alt="cristo">
    </div>
    <div class="slide">
      <img class="cristoFoto1" src="\assets\Powerade.png" alt="cristo">
    </div>
    <div class="slide">
      <img class="cristoFoto1" src="\assets\REUMALGIN.jpg" alt="cristo">
    </div>
    <div class="slide">
      <img class="cristoFoto1" src="\assets\OMIE.jpg" alt="cristo">
    </div>
    <div class="slide">
      <img class="cristoFoto1" src="\assets\OvoProtein.png" alt="cristo">
    </div>
    <div class="slide">
      <img class="cristoFoto1" src="\assets\pretorianos.jpg" alt="cristo">
    </div>
    <div class="slide">
      <img class="cristoFoto1" src="\assets\compressport.png" alt="cristo">
    </div>


  </div>
  <div class="arrow right" (click)="moveSlide(1, 'imgSlider5')">&#10095;</div> <!-- Flecha derecha -->
</div>
