<div class="Title">
  <h3>Auspiciadores</h3>
</div>
<div class="Title-sponsor">
  <div class="subtitle">
    <h2>Auspiciador de nombre</h2>
  </div>
  <img class="Logo" src="\assets\BMW-logo.png" alt="bmw logo">
</div>
<div class="Main-sponsor">
  <div class="subtitle">
    <h2>Auspiciadores principales</h2>
  </div>
  <div class="logos">
    <img class="Logo" src="\assets\BMW-logo.png" alt="bmw logo">
    <img class="Logo" src="\assets\BMW-logo.png" alt="bmw logo">
    <img class="Logo" src="\assets\BMW-logo.png" alt="bmw logo">
  </div>
</div>
<div class="Sponsors">
  <div class="subtitle">
    <h2>Auspiciadores</h2>
  </div>
  <div class="logos1">
    <img class="Logo" src="\assets\BMW-logo.png" alt="bmw logo">
    <img class="Logo" src="\assets\BMW-logo.png" alt="bmw logo">
    <img class="Logo" src="\assets\BMW-logo.png" alt="bmw logo">
  </div>
  <div class="logos2">
    <img class="Logo" src="\assets\BMW-logo.png" alt="bmw logo">
    <img class="Logo" src="\assets\BMW-logo.png" alt="bmw logo">
    <img class="Logo" src="\assets\BMW-logo.png" alt="bmw logo">
  </div>
</div>
<div class="Partners">
  <div class="subtitle">
    <h2>Colaboradores</h2>
  </div>
  <div class="logos">
    <img class="Logo" src="\assets\BMW-logo.png" alt="bmw logo">
    <img class="Logo" src="\assets\BMW-logo.png" alt="bmw logo">
    <img class="Logo" src="\assets\BMW-logo.png" alt="bmw logo">
  </div>
</div>
