<div class="Title">
  <h3>Auspiciadores</h3>
</div>
<div class="Title-sponsor">
  <div class="subtitle">
    <h2>Auspiciador de nombre</h2>
  </div>
  <img class="Logo" src="\assets\BMW-logo.png" alt="bmw logo">
</div>
<div class="Sponsors">
  <div class="subtitle">
    <h2>Auspiciadores</h2>
  </div>
  <div class="logos1">
    <img class="Logo" src="\assets\Powerade.png" >
    <img class="Logo" src="\assets\NUTRITON.png" >
    <img class="Logo" src="\assets\REUMALGIN.jpg" >
  </div>
  <div class="logos2">
    <img class="Logo" src="\assets\Etreus.jpeg" alt="bmw logo">
    <img class="Logo" src="\assets\OvoCare.png" alt="bmw logo">
    <img class="Logo" src="\assets\OvoProtein.png" alt="bmw logo">
  </div>
  <div class="logos3">
    <img class="Logo" src="\assets\OMIE.jpg" >
    <img class="Logo" src="\assets\Virmegraf.jpeg" alt="bmw logo">
    <img class="Logo" src="\assets\rudy.jpg" alt="bmw logo">
  </div>
</div>
