<header id="page-header" class="fixed-top">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div class="header-wrap">
    <a class="navbar-brand navbar-brand-image" href=""><img class="navbar-brand-logo-normal" src="\assets\bmwCOCHArunningLogo.jpg" alt="bmw logo" height="80" width="280"></a>
     <div class="header-top">
        <div class="header-meta-wrap ml-auto">
           <ul id="header-meta-menu" class="meta-menu nav">
              <li class="meta-menu-entry nav-item"><a href="https://www.facebook.com/ProRideCochabamba/?locale=es_LA" target="_blank" title="Proride" class="meta-menu-link nav-link" rel="noreferrer"><span>PRORIDE</span></a></li>
              <li class="meta-menu-entry nav-item"><a href="https://www.facebook.com/MasterMotorsBol?locale=es_LA" target="_blank" title="Contacto" class="meta-menu-link nav-link" rel="noreferrer"><span>MASTER MOTORS</span></a></li>
              <li class="meta-menu-entry nav-item"><a href="https://www.facebook.com/ProRideCochabamba/?locale=es_LA" target="_blank" title="Contacto" class="meta-menu-link nav-link" rel="noreferrer"><span>CONTACTO</span></a></li>
           </ul>
        </div>
     </div>

     <div class="header-bottom">
      <!-- Botón de menú burger -->
      <a class="mburger mburger--collapse" href="javascript:void(0);" (click)="toggleMenu()">
        <b></b><b></b><b></b>
      </a>

      <!-- Navegación principal -->
      <nav id="mainnavigation" class="bp-page-header navbar navbar-mainnavigation" [ngClass]="{'show': isMenuOpen}">
        <ul class="navbar-nav">
          <li class="nav-item dropdown dropdown-hover">
            <a routerLink="/registration" routerLinkActive="active" class="nav-link dropdown-toggle" title="Registro">
              <span class="nav-link-text">REGISTRO</span>
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/registration" routerLinkActive="active" class="dropdown-item">Registrarse</a></li>
              <li><a routerLink="/registration" routerLinkActive="active" class="dropdown-item">Extras</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown dropdown-hover">
            <a routerLink="/preparation" routerLinkActive="active" class="nav-link dropdown-toggle" title="Preparación">
              <span class="nav-link-text">PREPARACIÓN</span>
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/preparation/event-info" routerLinkActive="active" class="dropdown-item">Información del evento</a></li>
              <li><a routerLink="/preparation/schedule" routerLinkActive="active" class="dropdown-item">Agenda</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown dropdown-hover">
            <a routerLink="/your-race" routerLinkActive="active" class="nav-link dropdown-toggle" title="Tu Carrera">
              <span class="nav-link-text">TU CARRERA</span>
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/your-race/race-day" routerLinkActive="active" class="dropdown-item">Día de la Carrera</a></li>
              <li><a routerLink="/your-race/results" routerLinkActive="active" class="dropdown-item">Resultados</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown dropdown-hover">
            <a routerLink="/sobreBmw" routerLinkActive="active" class="nav-link dropdown-toggle" title="Sobre BMW">
              <span class="nav-link-text">SOBRE BMW</span>
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/sobreBmw/motorsport" routerLinkActive="active" class="dropdown-item">Motorsport</a></li>
              <li><a routerLink="/sobreBmw/motorsport" routerLinkActive="active" class="dropdown-item">Motorrad</a></li>
              <li><a routerLink="/sobreBmw/electricos" routerLinkActive="active" class="dropdown-item">BMWi</a></li>
              <li><a routerLink="/sobreBmw/historia" routerLinkActive="active" class="dropdown-item">Historia</a></li>
              <li><a routerLink="/sobreBmw/historia" routerLinkActive="active" class="dropdown-item">Podcast</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown dropdown-hover">
            <a routerLink="/auspiciadores" routerLinkActive="active" class="nav-link dropdown-toggle" title="Auspiciadores">
              <span class="nav-link-text">AUSPICIADORES</span>
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/auspiciadores" routerLinkActive="active" class="dropdown-item">Nuestros Auspiciadores</a></li>
              <li><a href="https://www.scc-events.com" class="dropdown-item" target="_blank" title="Hazte Miembro" rel="noreferrer">Hazte Miembro</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
