<!-- Sección sobre el evento del componente preparation -->
<section id="sobre-el-evento-section">
    <h1>BMW COCHA RUNNING</h1>
    <p>
      En la primera edición del evento Running 5K-10K en Cochabamba. Este evento no solo celebrará la pasión por el deporte, sino que también unirá a la comunidad en un ambiente de entusiasmo y deporte.
    </p>
</section>

<div class="container">
    <div class="image-section">
        <img class="sobre-el-evento-section" src="\assets\logoComp.png" alt="bmw-cocha-logo">
    </div>
    <div class="text-section">
        <h2>Primera vez en Cocha</h2>
        <p>
          ¡Prepárate para la primera edición del evento Running BMW 5K-10K en la hermosa ciudad de Cochabamba! Como una actividad que trasciende el simple acto de correr, el evento busca inspirar a la comunidad a adoptar un estilo de vida más activo y saludable. El running no solo mejora la salud física, sino que también tiene beneficios significativos para la salud mental y el bienestar emocional.
        </p>
    </div>
</div>

<!-- Sección información importante del componente preparation -->
<section id="important-info">
    <h1>Información importante (Rutas)</h1>

    <div class="container">
        <div class="image-container">
          <img class="image-routes" src="\assets\5k.jpg" alt="5k">
        </div>
        <div class="image-container">
            <img class="image-routes" src="\assets\10k.jpg" alt="10k">
          </div>

      </div>

    <div class="card">
        <h2>Algunos detalles a tomar en cuenta: </h2>
        <ul>
          <li>Se comenzara de manera puntual a las 7:00 A.M del domingo 17 de noviembre.</li>
          <li>Punto de partida BMW Master Motors, avenida America esq. Eduardo Caba.</li>
          <li>Incluye Cronometraje con chip.</li>
          <li>La largada y llegada sera del showroom de BMW en Cochabamba.</li>
          <li>No se permite correr con mascotas.</li>
          <li>Todo competidor debe portar su dorsal en el pecho.</li>
          <li>La entrega de Kits se realizara el dia sabado 16 de noviembre unicamente, en BMW Master Motors Cochabamba</li>
        </ul>
    </div>
</section>





