h1 {
    color: #0066b1;
    font-size: 400%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding-left: 9%;
    padding-top: 6%;
  }

  p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding-left: 9%;
    padding-right: 9%;
    font-size: 1.5em;
    
    }

    .container {
      
      display: flex;
      flex-direction: row;
      background-color: white;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
      border-radius: 10px; /* Esquinas redondeadas */
      width: 82%; 
      margin: 20px auto; 
      
    }
    
    

    .image-section img {
      width: 100%;
      height: auto;
      
    }
    

    
    
    .text-section h2 {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      color: #0066b1;
      font-size: 2em;
      margin-top: 1%;
    }
    
    .text-section p {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      color: #333;
      font-size: 1.3em;
      line-height: 1.5;
      padding-left: 0;
      
    }

    .card {

      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 3.5%;
      width: 75%;
      margin: auto;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 1.3em;
    }

    .card ul {
      padding-left: 3.5%;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
    
    .card ul li {
      margin-bottom: 10px;
    }
    
    /* Estilo para el texto en negrita */
    .card b {
      font-weight: bold;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    h2 {
      color: #0066b1;
      font-size: 1.5em;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    

    .image-routes{
      width: 97%;
      height: auto;
      transition: box-shadow 0.3s ease;
      transition: transform 0.3s ease;
      border-radius: 10px;
    }

    .image-routes:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
      transform: scale(1.02);
    }
    

  