<!-- Sección sobre el evento del componente preparation -->
<section id="sobre-el-evento-section">
    <h1>La BMW COCHA Running</h1>
    <p>
        More world records have been broken on Berlin's fast pavement than at any other marathon race in the world. 13 so far. More could follow. But that is not the only reason that makes the season highlight in the German capital one of the most popular running spectacles of the year.
    </p>
    <p>
        Over 40,000 finishers experience their very special moment when crossing the Brandenburg Gate just before the finish line, millions of spectators and 80 live bands celebrate the sport along the course. The international running community is a guest in the German capital at this special highlight. The event has long been one of the most important.
    </p>
</section>

<div class="container">
    <div class="image-section">
        <img class="sobre-el-evento-section" src="\assets\logoComp.png" alt="bmw-cocha-logo">
    </div>
    <div class="text-section">
        <h2>Primera vez en Cocha</h2>
        <p>
        The history of the World Marathon Majors began in 2006, when the merger
        of the six biggest marathon in the world in Tokyo, Boston, London, Berlin,
        Chicago and New York created a wave of enthusiasm and gave the 42.195k
        supreme discipline a further boost. The absolute highlight is the Six Star
        Medal, which every finisher who successfully completes all six Abbott WMM events earns.
        </p>
    </div>
</div>

<div class="container">
    <div class="text-section">
        <h2>Promoviendo el running</h2>
        <p>
        The interest group for road races in Germany was founded in 1995 on the initiative of Horst Milde, the former race director of the BERLIN-MARATHON, and other organizers of German city marathons. The common goal: to promote the sport of running, to support each other and to exchange specialist knowledge.
        </p>
    </div>
    <div class="image-section">
        <img class="sobre-el-evento-section" src="\assets\sobre-evento-running.jpg" alt="evento-running">
    </div>
</div>

<!-- Sección información importante del componente preparation -->
<section id="important-info">
    <h1>Información importante</h1>
    
    <div class="card">
        <h2>Algunos detalles a tomar en cuenta: </h2>
        <ul>
          <li>La participación está reservada solo a personas mayores de edad (+18).</li>
          <li>Including timekeeping</li>
          <li>4-day ticket for public transportation in fare zone ABC</li>
          <li>Pacemaker for each start wave to guide individual finish times</li>
          <li>BMW BERLIN-MARATHON app with extensive tracking options, among other things</li>
          <li>Extensive refreshments along the course and at the finish</li>
          <li>Comprehensive course security and closures of the 42 km circuit (current world record course)</li>
          <li>Finisher medal</li>
          <li>Personalized finisher certificate (e-paper)</li>
          <li>High-quality poncho at the finish line, which can also be reused for other occasions (alternatively, clothing bag drop-off for 5€)</li>
          <li>Massage service for sore muscles along the course and in the finish area</li>
          <li>Medical care at the EXPO, at the course and in the finish area</li>
          <li>Shower facilities in the finish area</li>
          <li>Changing tents</li>
        </ul>
    </div>
</section>





