
<div class="video-container">
  <div class="video-content">
    <video width="40%" height="40%" loop autoplay muted>
      <source src = '/assets/exl-01-stage-hd9.mp4' type="video/mp4">
    </video>
    <h2>Aqui aprendera todo sobre BMW</h2>
  </div>
</div>

<div class="card2">
  <div class="card-content">
    <h3>HISTORIA</h3>
  </div>
  <div class="slider-container">
    <div class="slider" id="imgSlider1">
      <div class="slide">
        <img class="cristoFoto" src="\assets\parrillas.jpg" alt="cristo">
      </div>
      <div class="slide">
        <img class="cristoFoto" src="\assets\hofmeister.png" alt="cristo">
      </div>
      <div class="slide">
        <img class="cristoFoto" src="\assets\logoAntiguo.jpg" alt="cristo">
      </div>
      <div class="slide">
        <img class="cristoFoto" src="\assets\logoAntiguo.jpg" alt="cristo">
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h3>MOTORSPORT</h3>
  </div>
  <div class="slider-container">
    <div class="slider" id="imgSlider2">
      <div class="slide">
        <img class="cristoFoto" src="\assets\nuevoAuto.jpg" alt="cristo">
      </div>
      <div class="slide">
        <img class="cristoFoto" src="\assets\artCar.jpg" alt="cristo">
      </div>
      <div class="slide">
        <img class="cristoFoto" src="\assets\nuevoAuto.jpg" alt="cristo">
      </div>
      <div class="slide">
        <img class="cristoFoto" src="\assets\artCar.jpg" alt="cristo">
      </div>
    </div>
  </div>
</div>

<div class="card2">
  <div class="card-content">
    <h3>MOTORRAD</h3>
  </div>
  <div class="slider-container">
    <div class="slider" id="imgSlider3">
      <div class="slide">
        <img class="cristoFoto" src="\assets\R-1300-GS-Adventure.jpg" alt="cristo">
      </div>
      <div class="slide">
        <img class="cristoFoto" src="\assets\R20.jpg" alt="cristo">
      </div>
      <div class="slide">
        <img class="cristoFoto" src="\assets\R-1300-GS-Adventure.jpg" alt="cristo">
      </div>
      <div class="slide">
        <img class="cristoFoto" src="\assets\R20.jpg" alt="cristo">
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h3>BMWi</h3>
  </div>
  <div class="slider-container">
    <div class="slider" id="imgSlider4">
      <div class="slide">
        <img class="cristoFoto" src="\assets\parrillas.jpg" alt="cristo">
      </div>
      <div class="slide">
        <img class="cristoFoto" src="\assets\parrillas.jpg" alt="cristo">
      </div>
      <div class="slide">
        <img class="cristoFoto" src="\assets\parrillas.jpg" alt="cristo">
      </div>
      <div class="slide">
        <img class="cristoFoto" src="\assets\parrillas.jpg" alt="cristo">
      </div>
    </div>
  </div>
</div>

<div class="card2">
  <div class="card-content">
    <h3>PODCAST BMW: CHANGING LANES</h3>
  </div>
  <div class="slider-container">
    <div class="slider" id="podcastSlider">
      <div class="slide">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/1N5uWwwAxc3ohOcHMZssLA/video?utm_source=generator" width="500" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
      <div class="slide">
        <iframe  style="border-radius:12px" src="https://open.spotify.com/embed/episode/0hSxixvuLDwdgD7IvigI2E/video?utm_source=generator" width="500" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
      <div class="slide">
        <iframe  style="border-radius:12px" src="https://open.spotify.com/embed/episode/3HcX5we6aw202sHq3etiPA/video?utm_source=generator" width="500" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
      <div class="slide">
        <iframe  style="border-radius:12px" src="https://open.spotify.com/embed/episode/3HcX5we6aw202sHq3etiPA/video?utm_source=generator" width="500" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
      <div class="slide">
        <iframe  style="border-radius:12px" src="https://open.spotify.com/embed/episode/3HcX5we6aw202sHq3etiPA/video?utm_source=generator" width="500" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
      <div class="slide">
        <iframe  style="border-radius:12px" src="https://open.spotify.com/embed/episode/3HcX5we6aw202sHq3etiPA/video?utm_source=generator" width="500" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</div>

