<div class="video-container">
  <div class="video-content">
    <video width="40%" height="40%" loop autoplay muted>
      <source src="/assets/exl-01-stage-hd9.mp4" type="video/mp4">
    </video>
    <h2>Aquí aprenderá todo sobre BMW</h2>
  </div>
</div>

<div class="titulo">
  <h3>Noticias</h3>
</div>

<section id="motorsport" class="motorsport-section">
  <div class="card2">
    <div class="card-content">
      <h3>MOTORSPORT</h3>
    </div>
    <div class="slider-container">
      <div class="arrow left" (click)="moveSlide(-1, 'imgSlider2')">&#10094;</div> <!-- Flecha izquierda -->
      <div class="slider" id="imgSlider2">
        <div class="slide">
          <div class="img-wrapper">
            <img class="cristoFoto" src="/assets/x2.jpg" alt="La historia detrás del BMW Art Car">
            <a href="https://www.bmw-m.com/en/topics/magazine-article-pool/bmw-x2-m35i-individual-colours.html"><div class="slide-description">BMW X2 M35i</div></a>
          </div>
        </div>
        <div class="slide">
          <div class="img-wrapper">
            <img class="cristoFoto" src="/assets/m3.jpg" alt="m3">
            <a href="https://www.bmw-m.com/en/topics/magazine-article-pool/bmw-m3-generationen.html"><div class="slide-description">The power of 3</div></a>
          </div>
        </div>
        <div class="slide">
          <div class="img-wrapper">
            <img class="cristoFoto" src="/assets/lemans.jpg" alt="Nuevo modelo de BMW Motorsport">
            <a href="https://www.bmw-m.com/en/fastlane/motorsport/discover/news-stories/imsa-road-atlanta-petit-le-mans-bmw-m-hybrid-v8-paul-miller-racing-title.html"><div class="slide-description">Le Mans</div></a>
          </div>
        </div>
        <div class="slide">
          <div class="img-wrapper">
            <img class="cristoFoto" src="/assets/artCar.jpg" alt="El BMW Art Car vuelve al circuito">
            <a href="https://www.bmw.com/es/freude/dinamica-en-forma-bmw-art-car-numero-20-de-julie-mehretu.html">
              <div class="slide-description">El BMW Art Car vuelve al circuito</div>
            </a>
          </div>
        </div>
      </div>
      <div class="arrow right" (click)="moveSlide(1, 'imgSlider2')">&#10095;</div> <!-- Flecha derecha -->
    </div>
  </div>
</section>

<section id="motorrad" class="motorrad-section">
  <div class="card">
    <div class="card-content">
      <h3>MOTORRAD</h3>
    </div>
    <div class="slider-container">
      <div class="arrow left" (click)="moveSlide(-1, 'imgSlider3')">&#10094;</div> <!-- Flecha izquierda -->
      <div class="slider" id="imgSlider3">
        <div class="slide">
          <div class="img-wrapper">
            <img class="cristoFoto" src="/assets/R-1300-GS-Adventure.jpg" alt="BMW R 1300 GS Adventure">
             <a href="https://www.bmw-motorrad.es/es/news-gallery/r1300gs-adventure.html"><div class="slide-description">BMW R 1300 GS Adventure</div></a>
          </div>
        </div>
        <div class="slide">
          <div class="img-wrapper">
            <img class="cristoFoto" src="/assets/CE02.jpg" alt="BMW R20">
            <a href="https://www.bmw-motorrad.es/es/news-gallery/ce02.html"><div class="slide-description">BMW CE 02</div></a>
          </div>
        </div>
        <div class="slide">
          <div class="img-wrapper">
            <img class="cristoFoto" src="/assets/CE04.jpg" alt="BMW R 1300 GS Adventure">
            <a href="https://www.bmw-motorrad.bo/es/experience/news-gallery/definition-ce04.html"><div class="slide-description">BMW CE 04</div></a>
          </div>
        </div>
        <div class="slide">
          <div class="img-wrapper">
            <img class="cristoFoto" src="/assets/R20.jpg" alt="BMW R20">
            <a href="https://www.bmw-motorrad.es/es/news-gallery/r20-concept.html"><div class="slide-description">BMW R20</div></a>
          </div>
        </div>

      </div>
      <div class="arrow right" (click)="moveSlide(1, 'imgSlider3')">&#10095;</div> <!-- Flecha derecha -->
    </div>
  </div>
</section>

<section id="BMWi" class="bmwi-section">
  <div class="card2">
    <div class="card-content">
      <h3>BMWi</h3>
    </div>
    <div class="slider-container">
      <div class="arrow left" (click)="moveSlide(-1, 'imgSlider4')">&#10094;</div> <!-- Flecha izquierda -->
      <div class="slider" id="imgSlider4">
        <div class="slide">
          <div class="img-wrapper">
            <img class="cristoFoto" src="/assets/bmwiX.jpg" alt="El futuro eléctrico de BMWi">
            <a href="https://www.bmw.com/es/magazine/sustainability/viaje-sostenible-por-noruega.html"><div class="slide-description">Viaje sostenbible con la iX</div></a>
          </div>
        </div>
        <div class="slide">
          <div class="img-wrapper">
            <img class="cristoFoto" src="/assets/electrica.jpg" alt="Innovación en diseño con BMWi">
            <a href="https://www.bmw.com/es/automotive-life/consejos-coche-electrico.html"><div class="slide-description">Movilidad Electrica</div></a>
          </div>
        </div>
        <div class="slide">
          <div class="img-wrapper">
            <img class="cristoFoto" src="/assets/i7.jpg" alt="El futuro eléctrico de BMWi">
            <a href="https://www.bmw.com/es/magazine/design/bmw-i7-una-nueva-perspectiva.html"><div class="slide-description">BMW i7</div></a>
          </div>
        </div>
        <div class="slide">
          <div class="img-wrapper">
            <img class="cristoFoto" src="/assets/i3.jpg" alt="El futuro eléctrico de BMWi">
            <a href="https://www.bmw.com/es/magazine/innovation/goodbye-bmw-i3.html"><div class="slide-description">Goodbye i3</div></a>
          </div>
        </div>
      </div>
      <div class="arrow right" (click)="moveSlide(1, 'imgSlider4')">&#10095;</div> <!-- Flecha derecha -->
    </div>
  </div>
</section>

<section id="historia" class="historia-section">
  <div class="card">
    <div class="card-content">
      <h3>HISTORIA</h3>
    </div>
    <div class="slider-container">
      <div class="arrow left" (click)="moveSlide(-1, 'imgSlider1')">&#10094;</div> <!-- Flecha izquierda -->
      <div class="slider" id="imgSlider1">
        <div class="slide">
          <div class="img-wrapper">
            <img class="cristoFoto" src="/assets/parrillas.jpg" alt="La evolución de las parrillas BMW">
            <a href="https://www.bmw.com/es/design/parrilla-bmw-el-cambio-del-emblema-con-el-tiempo.html">
              <div class="slide-description">La evolución de las parrillas BMW</div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="img-wrapper">
            <img class="cristoFoto" src="/assets/hofmeister.png" alt="El detalle Hofmeister en la historia de BMW">
            <a href="https://www.bmw.com/es/freude/la-curva-de-hofmeister-de-bmw.html">
              <div class="slide-description">El detalle Hofmeister en la historia de BMW</div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="img-wrapper">
            <img class="cristoFoto" src="/assets/logoAntiguo.jpg" alt="Historia del logo BMW">
            <a href="https://www.bmw.com/es/automotive-life/logo-BMW-significado-e-historia1.html">
              <div class="slide-description">Historia del logo BMW</div>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="img-wrapper">
            <img class="cristoFoto" src="/assets/freudeAmFahren.jpg" alt="Origen del slogan BMW">
            <div class="slide-description">Origen del slogan BMW</div>
          </div>
        </div>
      </div>
      <div class="arrow right" (click)="moveSlide(1, 'imgSlider1')">&#10095;</div> <!-- Flecha derecha -->
    </div>
  </div>
</section>

<section id="podcast" class="podcast-section">
  <div class="card2">
    <div class="card-content">
      <h3>PODCAST BMW: CHANGING LANES</h3>
    </div>
    <div class="slider-container">
      <div class="arrow left" (click)="moveSlide(-1, 'podcastSlider')">&#10094;</div> <!-- Flecha izquierda -->
      <div class="slider" id="podcastSlider">
        <div class="slide">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/1N5uWwwAxc3ohOcHMZssLA/video?utm_source=generator" width="500" height="500" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div class="slide">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/0hSxixvuLDwdgD7IvigI2E/video?utm_source=generator" width="500" height="500" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div class="slide">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3HcX5we6aw202sHq3etiPA/video?utm_source=generator" width="500" height="500" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div class="slide">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/34g5uCAMbnTASzorY4p0aM/video?utm_source=generator" width="624" height="351" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div class="slide">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/7AwgyRe5xQNpf6UCpFkp2A/video?utm_source=generator" width="624" height="351" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
      </div>
      <div class="arrow right" (click)="moveSlide(1, 'podcastSlider')">&#10095;</div> <!-- Flecha derecha -->
    </div>
  </div>
</section>
